@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,800;0,900;1,700&display=swap);

$theme-font: 'Nunito', sans-serif;
$main-color: #2A3593;
$main2-color: #478BCA;
$main3-color: #60A5DA;
$main4-color: #E3EDF9;
$secondary-color: #944D9E;
$secondary2-color: #5D2D90;
$secondary3-color: #7651A1;

$other-color: #F58120;
$other2-color: #F36D28;
$other3-color: #F48131;
$other4-color: #A9CF3D;
$other5-color: #0FB68F;
$other6-color: #4BB74D;